<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xiwen.myapplication">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".DiaryContentProvider"
            android:authorities="com.example.xiwen.myapplication.diarycontentprovider" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.xiwen.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".CheckBoxActivity"
            android:label="@string/title_activity_check_box"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".RadioBoxActivity"
            android:label="@string/title_activity_radio_box"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".SpinnerActivity"
            android:label="@string/title_activity_spinner"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".AutoCompleteTextViewActivity"
            android:label="@string/title_activity_auto_complete_text_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".DatePickerActivity"
            android:label="@string/title_activity_date_picker"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".TimePickerActivity"
            android:label="@string/title_activity_time_picker"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".ProgressBarActivity"
            android:label="@string/title_activity_progress_bar"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".SeekBarActivity"
            android:label="@string/title_activity_seek_bar"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".RatingBarActivity"
            android:label="@string/title_activity_rating_bar"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".ImageViewActivity"
            android:label="@string/title_activity_image_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".ImageShowActivity"
            android:label="@string/title_activity_image_show"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".GridViewActivity"
            android:label="@string/title_activity_grid_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".TabDemoActivity"
            android:label="@string/title_activity_tab_demo"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="@string/title_activity_list_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".ListView1Activity"
            android:label="@string/title_activity_list_view1"
            android:parentActivityName=".ListViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.ListViewActivity" />
        </activity>
        <activity
            android:name=".ListView2Activity"
            android:label="@string/title_activity_list_view2"
            android:parentActivityName=".ListViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.ListViewActivity" />
        </activity>
        <activity
            android:name=".ListView3Activity"
            android:label="@string/title_activity_list_view3"
            android:parentActivityName=".ListViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.ListViewActivity" />
        </activity>
        <activity
            android:name=".ListView4Activity"
            android:label="@string/title_activity_list_view4"
            android:parentActivityName=".ListViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.ListViewActivity" />
        </activity>
        <activity
            android:name=".DialogDemoActivity"
            android:label="@string/title_activity_dialog_demo"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".ToastAndNotificationActivity"
            android:label="@string/title_activity_toast_and_notification"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification"
            android:parentActivityName=".ToastAndNotificationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.ToastAndNotificationActivity" />
        </activity>
        <activity
            android:name=".ToastActivity"
            android:label="@string/title_activity_toast"
            android:parentActivityName=".ToastAndNotificationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.ToastAndNotificationActivity" />
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".SQLiteActivity"
            android:label="@string/title_activity_sqlite"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".ContentProviderActivity"
            android:label="@string/title_activity_content_provider"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".DiaryActivity"
            android:label="@string/title_activity_diary"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".DiaryEditActivity"
            android:label="@string/title_activity_diary_edit"
            android:parentActivityName=".DiaryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.DiaryActivity" />
        </activity>
        <activity
            android:name=".Diary2Activity"
            android:label="@string/title_activity_diary2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".Diary2EditActivity"
            android:label="@string/title_activity_diary2_edit"
            android:parentActivityName=".Diary2Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.Diary2Activity" />

            <intent-filter>
                <action android:name="com.example.xiwen.myapplication.ActivityDiaryEditor.EDIT_DIARY" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.google.diary" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.xiwen.myapplication.ActivityDiaryEditor.action.INSERT_DIARY" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.google.diary" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebServiceActivity"
            android:label="@string/title_activity_web_service"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".BroadcastReceiverActivity"
            android:label="@string/title_activity_broadcast_receiver"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>

        <receiver android:name=".AndroidReceiver1">
            <intent-filter>
                <action android:name="com.example.xiwen.myapplication.action.NEW_BROADCAST_1" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AndroidReceiver2">
            <intent-filter>
                <action android:name="com.example.xiwen.myapplication.action.NEW_BROADCAST_2" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ServiceHolderActivity"
            android:label="@string/title_activity_service_holder"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>

        <service
            android:name=".TestService"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".AlarmServiceActivity"
            android:label="@string/title_activity_alarm_service"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xiwen.myapplication.MainActivity" />
        </activity>

        <receiver android:name=".AlarmReceiver"></receiver>

        <service
            android:name=".NotifyService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>
